.filterContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filterButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid teal;
  border-radius: 25px;
  cursor: pointer;
  color: teal;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterButton:hover {
  transform: translateY(-2px);
}

.filterButton:active {
  transform: translateY(0);
}
.filterButton.active {
  background-color: teal;
  color: white;
}

.filterButton.active:hover {
  background-color: #006d5b;
}

@media (max-width: 768px) {
  .filterContainer {
    gap: 15px;
  }

  .filterButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
