.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 4px #ccc;
}

.header_logo {
  height: 50px;
}

.navbar {
  display: flex;
  gap: 16px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: teal;
  position: relative;
}
.navbar a:hover {
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
  font-weight: bold;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.badge {
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 4px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -10px;
}
