.userlist_container {
  margin: 40px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: inset 4px 4px #ccc, inset -4px -4px #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 500px;
  overflow-y: auto;
}

.useritem_container {
  display: flex;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 8px;
  min-width: 300px;
  gap: 16px;
}

.useritem_image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ccc;
}
.useritem_details {
  margin-top: 10px;
}

.useritem_name {
  font-weight: bold;
  margin-bottom: 8px;
}

.useritem_subtitle {
  text-align: left;
  color: gray;
}
