.main_container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.heading {
  color: salmon;
  margin-bottom: 20px;
  font-size: 40px;
}

.list_container {
  border: 1px dotted brown;
  padding: 40px;
}
